/* I am a css file */

h1 {
    text-align: center;
    color:black;
    font-family: "Exo 2", sans-serif;
}

.font {
    font-family: "Exo 2", sans-serif;
}

#title1{
    margin-top: 2%;
}

#single{
    padding-top:3%
}